# TODO: Numpy is broken in Windows 2004 except for 1.19.3+
# A fix should be out by end of Jan 2021 🙈
# https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
biopython>=1.74
cftime<=1.3.0; python_version == "3.6" and platform_system == "Windows"
deprecation>=2.1.0
domdf-python-tools>=1.7.0
enum-tools>=0.6.1
matplotlib==3.2.2; platform_machine == "aarch64" and python_version == "3.6"
matplotlib<3.4.0,>=3.0.2; platform_machine != "aarch64" or python_version > "3.6"
netcdf4>=1.5.0
numpy>=1.19.2; platform_system != "Windows"
numpy!=1.19.4,<1.20,>=1.19.3; platform_system == "Windows"
openpyxl>=2.6.2
pandas>=1.0.0
pymzml>=2.2.1
scipy>=1.2.1
sdjson>=0.3.0
typing-extensions>=3.7.4.3
